body {
  margin: 0px;
  padding: 0px;
}

main {
  min-height: 80vh;
}

h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgb(223, 199, 199);
  font-weight: bold;
}
